// ==========================================================================
// _base.scss
// ==========================================================================

// ====================================
// elements
// ====================================

html {
    color: #222;
    font-size: 1em;
    height: 100%;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

body {
    font-size: 16px;
    min-height: 100vh; /* force la hauteur de body */
    position: relative; /* impose un positionnement */

    text-rendering: optimizeLegibility !important; /* lissage des fontes */
    -webkit-font-smoothing: antialiased !important; /* lissage des fontes */
}

img {
    height: auto;
    width: 100%; /* adaptation des images aux conteneurs */
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}
